<%= form_for(notice) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	
	<%= render	:partial => "edit_biblio",
							:locals => {:f => f } %>
							
	<div class="actions">
		<div class="label"></div>
		<div class="input">
    	<%= f.submit action %>
		</div>
  </div>
<% end %>

