<h1><%= @notice.biblio.title %></h1>

<table>
	<tr>
		<td>Title</td>
		<td><%= @notice.biblio.title %></td>
	</tr>
	<tr>
		<td>Description</td>
		<td><%= @notice.biblio.description %></td>
	</tr>
</table>
