<header>
  <%= link_to "de[scribe]", root_path, :class => "mainTitle" %><br/>
	<%= link_to "The Digital School Library Project", root_path, :class => "subTitle" %>
	<nav class="round">
    <ul>
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "Sign in", signin_path %></li>
    </ul>
  </nav>
</header>
